/* Navigation */
#navbar {
    flex-direction: row;
}

#logo{
    margin: 10px 10px;
  }

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 15px;
    padding-bottom: 0px;
}
/* Home section */
#home{
    height: 830px; 
    padding: 3px 28px;
}

#home::before{
    height: 915px; 
}

#home p{
    font-size: 15px;
}
#home h1{
    font-size: 35px;
}
#about{
    align-content: space-around;
    justify-content: center;
    flex-wrap: wrap;
}

#links{
    flex-wrap: wrap;
}
#links2{
    flex-wrap: wrap;
}

/* skills-sec section */
#skills-sec{
    flex-wrap: wrap;
}



#skills-sec img{
    width: 66px;
    padding: 6px;
    height: auto;
}

/* Services section  */
#projects{
    flex-wrap: wrap;
}

#projects .box { 
    padding: 14px;
    margin: 2px 0px; 
    margin-bottom: 20px;
}



/* Contact us section */
#contact-box form{
    width:80%;
}
/* Footer */

/* Utility classes */
.h-primary{
    font-size:26px;
}
.btn{
    font-size: 15px;
    padding: 4px 8px;
}
.image{
    padding-top: 15px;
    justify-content: center;
}
.data{
    display: flex;
}
.info{
    font-size: 17px;
    padding-top: 20px;
    padding-inline: 20px;
}
.resume{
    padding-left: 0px;
    align-self: center;
}