/* Navigation */
#navbar {
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 20px;
    padding-bottom: 8px;
}
/* Home section */
#home{
    height: 606px; 
    padding: 3px 28px;
}

#home::before{
    height: 739px; 
}

#home p{
    font-size: 13px;
}

#about{
    align-content: space-around;
    justify-content: center;
    flex-wrap: wrap;
}


/* skills-sec section */
#skills-sec{
    flex-direction: vertical;
}



#skills-sec img{
    width: 66px;
    padding: 6px;
    height: auto;
}

/* Services section  */
#projects{
    flex-direction: column;
}

#projects .box { 
    padding: 14px;
    margin: 2px 0px; 
    margin-bottom: 20px;
}



/* Contact us section */
#contact-box form{
    width:80%;
}
/* Footer */

/* Utility classes */
.h-primary{
    font-size:26px;
}
.btn{
    font-size: 15px;
    padding: 4px 8px;
}
.image{
    padding-top: 15px;
    justify-content: center;
}
.data{
    display: flex;
}
.info{
    font-size: 15px;
    padding: 20px;
}