
/* CSS Reset */
*{
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

/* CSS Variables */
:root{
  --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 100;
  box-shadow: 0px 1px 30px rgba(0,255,255,0.5);
              

}


#navbar::before{
  content: "";
  background-color: black;
  position: absolute;
  top:0px;
  left:0px;
  height: 100%;
  width:100%;
  z-index: -1;
  opacity: 0.6;
}

/* Navigation Bar: Logo and Image */
#logo{
  margin: 10px 34px;
}

#logo img{
  height: 40px;
  margin: 3px 6px;
}


/* Navigation Bar: List Styling */

#navbar ul{
  padding-top: 11px;
  display: flex;
  font-family: 'Baloo Bhai', cursive;
}

#navbar ul li{ 
  list-style: none;
  
  font-size: 1.3rem;
}

#navbar ul li a{
  color: white;
  display: block;
  
  padding: 3px 22px;
  border-radius: 20px;
  text-decoration: none;
}

#navbar ul li a:hover{
  color: black;
  background-color: white;
}

/* Home Section */
#home{
  display: flex;
  flex-direction: column;
  padding:3px 200px;
  height: 730px;
  box-shadow: 0px 1px 50px rgba(0,255,255,0.5);

}

#home::before{ 
  content: "";
  position: absolute;
  background-color: #000928;
  height: 815px;
  top:0px;
  left:0px;
  width: 100%;
  z-index: -1;
  opacity:1;
}


#home h1{
  color:rgb(223, 255, 255);
  text-align: center;
  font-family: 'Bree Serif', serif;
  opacity: 1;
}

#home p{
  color:rgb(223, 255, 255);
  text-align: center;
  font-size: 1.2rem;
  font-family: 'Bree Serif', serif;
}

#countdata{
  padding-top: 0px;
  display: flex;
}

#count-div #count{
  color:rgba(144, 203, 214, 0.734);
  font-weight: 200;
  text-shadow: 0px 1px 50px rgb(0, 247, 255);
  font-family:Arial, Helvetica, sans-serif;
  margin: -20px;
  font-size: 100px;
}

#text-div #text{
  margin: 0px;
  font-size: 20px;
}

.name{
  width : 100%;
}

#home #about{
  display: flex;
  flex-direction: row;
}

#links2{
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

/* Skills Section */
#skills-sec{ 
  position: relative;
  height: 1040px;
  /* box-shadow: rgba(0,255,255,0.35) 0px 25px 50px -12px; */
  box-shadow: 0px 1px 50px rgba(0,255,255,0.5);


}

#skills-sec::before{
content: "";
position: absolute;
background-color: #000928;
width: 100%;
height:1040px;
z-index: -1;
/* opacity: 0.89; */
}
#skills-sec h1{
  padding-top: 50px;
}




/* projects Section */
#project{
  position: relative;
  box-shadow: 0px 1px 50px rgba(0,255,255,0.5);
  
}
#project::before{
  content: "";
  position: absolute;
  background-color: #000928;
  width: 100%;
  height: 100%;
  z-index: -1;
  }


#projects{
  padding-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#projects h1{
  padding-top: 200px;
}

#projects .card{ 
  padding: 20px;
  margin: 2px 20px;
  border-radius: 28px;
  background: transparent;
  margin-bottom: 20px;
  box-shadow: rgba(0,255,255,0.5) 0px 10px 20px, rgba(0,255,255,0.5) 0px 6px 6px;
}

#projects .card img{ 
 height: 160px;
 margin: auto;
 display: block;
}

#projects .box p{
  font-family: 'Bree Serif', serif;

}

#projects #links{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}



/* Contact Section */
#contact{
  position: relative;
  box-shadow: 0px 5px 50px 5px rgba(0,255,255,0.5); 

}
#contact::before{
  content: "";
  position: absolute;
  background-color: #000928;
  width: 100%;
  height: 100%;
  z-index: -1;

}
#contact-box{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 34px;
}
#contact-box input, 
#contact-box textarea{
  background-color: transparent;
  border: solid white;
  border-width: 3px;
  color: #f2f2f2;
  width: 100%;
  padding: 0.5rem;
  border-radius: 9px;
  font-size: 1.1rem;
} 

#contact-box form{
  width: 40%;
}
#message{
  height: 100px;
}
#contact-box label{
 font-size: 1.3rem;
 font-family: 'Bree Serif', serif;

}


footer{
  background: black;
  color: white;
  padding: 9px 20px;
}

/* Utility Classes */
.h-primary{
  min-width: 200px;
  font-family: 'Bree Serif', serif;
  font-size: 2rem;
  padding: 1px;
}


.h-secondary{
  font-family: 'Bree Serif', serif;
  font-size: 2.3rem;
  padding: 12px;
}

.btn{
  padding: 6px 20px;
  margin: 17px;
  font-size: 1.5rem;
  border-radius: 14px;
  cursor:pointer;
}

.center{
  text-align: center;
}

.sk{
  padding-left: 5%;
  padding-right: 5%;
}

.image{
  padding-top: 30px;
  align-items: center;
  justify-content: center;
  margin: 0px;
}

.info{
  margin: 0px;
  padding-top: 40px;
  padding-left: 30px;
  font-size: 15px;
  
}

.link_but{
  padding: 10px;
  width: 100px;
  border:2px;
  background-color: #000928;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 23px;
  box-shadow: rgba(0,255,255,0.5) 0px 50px 100px -20px, rgba(0,255,255,0.5) 0px 30px 60px -30px, rgba(0,255,255,0.5) 0px -2px 6px 0px inset;

}

.t1{
  color: rgb(200, 255, 255);
}

.t2{
  padding-top: 20px;
  color: rgb(200, 255, 255);
}

.card-title{
  color:rgb(200, 255, 255);
}

.card-text{
  color:rgb(200, 255, 255);
}

.link_proj{
  width:50px;
  padding: 10px;
}

.bi{
  color: rgb(200, 255, 255);
}

#links3{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 40px;
}
.submit_but{
  height: 45px;
  align-items: center;
}
.t3{
  color: rgb(211, 234, 255);
  
}

.resume{
  padding-left: 50px;
  
}
.resume a{
  text-decoration: none;
  
}
.sub{
  display:flex;
  justify-content: center;
}

.mailwa{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}